@font-face {
  font-family: "robotoregular";
  src: url("../polices/roboro/roboto-regular-webfont.eot");
  src: url("../polices/roboto/roboto-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../polices/roboto/roboto-regular-webfont.woff2") format("woff2"),
    url("../polices/roboto/roboto-regular-webfont.woff") format("woff"),
    url("../polices/roboto/roboto-regular-webfont.svg#robotoregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../polices/Roboto/roboto-bold-webfont.eot");
  src: url("../polices/Roboto/roboto-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../polices/Roboto/roboto-bold-webfont.woff2") format("woff2"),
    url("../polices/') format('woff"), url("../polices/') format('svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 16px;
  font-family: "robotoregular", serif, sans-serif;
  // color: #181818;
//   margin: 0.5rem;
}
H1 {
  font-size: 1.2rem;
  font-family: "robotobold", serif, sans-serif;
}

H2 {
  font-size: 1.2rem;
  font-family: "robotobold", serif, sans-serif;
  color: #000000;
}
// }
// H3 {
// 	font-size: 1.2rem;
// }

.bloc-page {
  width: 375px;
}

.logo {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__img {
    height: 25px;
  }
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #eaeaea;
  margin: auto;
  &__map {
    margin: 15px;
  }
  &__city {
    border: none;
    background: none;
  }
}

.reservation {
  height: 330px;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  //   &__text{
  margin: auto;

  //       height: 30%;
  //   }
  text-align: center;

  &__text {
    height: 30%;
    display: flex;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
  }
  &__restau--discov {
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 52px;
    border-radius: 26px;
    background: linear-gradient(#ff79da 1%, #9356dc 99%);
  }
  &__button__explor {
    color: #ffffff;
    border: none;
    text-decoration: none;
  }
}
.sub-title {
	padding: .5rem 0 .5rem 0;
  }

.function {
  // width: 100%;
    padding-left: 0.25rem;
  // width: 335px;
  // display: flex;
  // align-content: center;
  // justify-content: center;
    &__sub-title {
    margin-top: 2rem;
  //     padding: 0 0 0 0;
    }
  &__choice {
    // width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #dcdcdc;
    margin-left: 15px;
    margin-bottom: 1rem;
    position: relative;
    // margin: auto;
    &__num {
      position: absolute;
      left: 0.5 rem;
      background-color: #9356dc;
      color: #ffffff;
      font-weight: bold;
      border-radius: 50%;
      padding: 5px 12px;
      transform: translate(-50%);
    }
    &__icon {
      margin-left: 30px;
    }
    &__text {
      font-family: "robotobold";
      margin: 10px;
    }

    &:hover {
      // transform: scale(1.2);
      background: #f5edff;
      box-shadow: 0 0 30px #dedada;
      .function__choice__icon {
        color: #9356dc;
      }
      .function__choice__menu__text--txt {
        color: #9356dc;
      }
      .function__choice__icon {
        color: #9356dc;
      }
    }
  }
}

.restaurant-card {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
#restaurants {
  background-color: #f6f6f6;
  margin-top: 1rem;
  padding: 0.5rem;
}
.restaurant {
//   width: 100%;
  margin-bottom: 1rem;
}

.restau {
  position: relative;
  width: 100%;
  height: 175px;
  // width: 350px;
  // display: flex;
  // align-items: flex-end;
  // justify-content: space-between;
  // border-radius: 15px;
  // box-shadow: 3px 3px 5px grey;
  // overflow: hidden;
  // cursor: pointer;

  &__picture {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__tag {
    border-radius: 3px;
    background-color: #99e2d0;
    color: #006400;
    position: absolute;
    top: 7%;
    right: 5%;

    width: 80px;
    height: 30px;
    // padding: 10px;
    &--text {
      // color: #354235;
      // 	padding: 10px;
      // margin-left: 5px;
      margin: 0;
      position: relative;
      top: 20%;
      left: 10%;
    }
  }
}

.card {
  // width: 335px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 0 0 15px 15px;
  box-shadow: 3px 3px 5px grey;
  overflow: hidden;
  cursor: pointer;
  color: #181818;

  &__infos {
    padding: .75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    &--name {
      font-size: 18px;
      text-decoration: none;
      font-weight: bold;
      margin: 5px 0 5px 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &--descr {
      text-decoration: none;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: auto;
    }
  }
}

.heartsContainer {
  position: relative;
  width: 20px;
  margin: 20px;
  cursor: pointer;
  &--heart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -125%);
    font-size: 20px;
    transition: all 1s linear;

    &.empty {
      opacity: 1;
    }

    &.full {
      opacity: 0;
      background: linear-gradient(#9356dc, #ff79da);
      -webkit-background-clip: text;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      text-stroke-color: transparent;
      -webkit-text-stroke-color: transparent;
    }
  }

  &:hover {
    .heartsContainer--heart {
      &.empty {
        opacity: 0;
      }

      &.full {
        opacity: 1;
      }
    }
  }
}

footer {
  // width: 100%;
  background-color: #000000;
  color: #ffffff;
  padding-left: 15px;
  padding-bottom: 1rem;
}
.footer-logo {
  height: 18px;
  padding-top: 15px;
  filter: invert(100%);
}
.liste {
  list-style: none;
  list-style-position: outside;
  padding: 0;
  &__ustensils {
    font-size: 15px;
  }
  &__hands {
    font-size: 10px;
  }
}
.footer_text a {
  color: #ffffff;
  text-decoration: none;
}
