@font-face {
  font-family: "robotoregular";
  src: url("../polices/roboro/roboto-regular-webfont.eot");
  src: url("../polices/roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../polices/roboto/roboto-regular-webfont.woff2") format("woff2"), url("../polices/roboto/roboto-regular-webfont.woff") format("woff"), url("../polices/roboto/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../polices/Roboto/roboto-bold-webfont.eot");
  src: url("../polices/Roboto/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../polices/Roboto/roboto-bold-webfont.woff2") format("woff2"), url("../polices/') format('woff"), url("../polices/') format('svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 16px;
  font-family: "robotoregular", serif, sans-serif;
  margin: 0.5rem;
}

H1 {
  font-size: 1.2rem;
  font-family: "robotobold", serif, sans-serif;
}

H2 {
  font-size: 1.2rem;
  font-family: "robotobold", serif, sans-serif;
  color: #000000;
}

.bloc-page {
  width: 375px;
}

.logo {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo__img {
  height: 25px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #eaeaea;
  margin: auto;
}
.search__map {
  margin: 15px;
}
.search__city {
  border: none;
  background: none;
}

.reservation {
  height: 330px;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  margin: auto;
  text-align: center;
}
.reservation__text {
  height: 30%;
  display: flex;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
}
.reservation__restau--discov {
  display: flex;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}
.reservation__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 52px;
  border-radius: 26px;
  background: linear-gradient(#ff79da 1%, #9356dc 99%);
}
.reservation__button__explor {
  color: #ffffff;
  border: none;
  text-decoration: none;
}

.function {
  width: 100%;
}
.function__title {
  margin: 60px 0 35px 0;
  padding: 0 0 0 0;
}
.function__choice {
  height: 75px;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 5px 5px 15px #dcdcdc;
  margin-left: 15px;
  margin-bottom: 1rem;
  position: relative;
}
.function__choice__num {
  position: absolute;
  left: 0.5 rem;
  background-color: #9356dc;
  color: #ffffff;
  font-weight: bold;
  border-radius: 50%;
  padding: 5px 12px;
  transform: translate(-50%);
}
.function__choice__icon {
  margin-left: 30px;
}
.function__choice__text {
  font-family: "robotobold";
  margin: 10px;
}
.function__choice:hover {
  background: #f5edff;
  box-shadow: 0 0 30px #dedada;
}
.function__choice:hover .function__choic__icon {
  color: #9356dc;
}
.function__choice:hover .function__choice__menu__text--txt {
  color: #9356dc;
}
.function__choice:hover .function__choice__icon {
  color: #9356dc;
}

.sub-title {
  padding: 1.5rem 0 1.5rem 0;
}

.restaurant-card {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

#restaurants {
  background-color: #f6f6f6;
  margin-top: 1rem;
  padding: 1rem;
}

.restaurant {
  width: 100%;
  margin-bottom: 1rem;
}

.restau {
  position: relative;
  width: 100%;
  height: 175px;
}
.restau__picture {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restau__tag {
  border-radius: 3px;
  background-color: #99e2d0;
  color: #006400;
  position: absolute;
  top: 7%;
  right: 5%;
  width: 80px;
  height: 30px;
}
.restau__tag--text {
  margin: 0;
  position: relative;
  top: 20%;
  left: 10%;
}

.card {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 0 0 15px 15px;
  box-shadow: 3px 3px 5px grey;
  overflow: hidden;
  cursor: pointer;
  color: #181818;
}
.card__infos {
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}
.card__infos--name {
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  margin: 5px 0 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__infos--descr {
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
}

.heartsContainer {
  position: relative;
  width: 20px;
  margin: 20px;
  cursor: pointer;
}
.heartsContainer--heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -125%);
  font-size: 20px;
  transition: all 1s linear;
}
.heartsContainer--heart.empty {
  opacity: 1;
}
.heartsContainer--heart.full {
  opacity: 0;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-stroke-color: transparent;
  -webkit-text-stroke-color: transparent;
}
.heartsContainer:hover .heartsContainer--heart.empty {
  opacity: 0;
}
.heartsContainer:hover .heartsContainer--heart.full {
  opacity: 1;
}

footer {
  background-color: #000000;
  color: #ffffff;
  padding-left: 15px;
  padding-bottom: 1rem;
}

.footer-logo {
  height: 18px;
  padding-top: 15px;
  filter: invert(100%);
}

.liste {
  list-style: none;
  list-style-position: outside;
  padding: 0;
}
.liste__ustensils {
  font-size: 15px;
}
.liste__hands {
  font-size: 10px;
}

.footer_text a {
  color: #ffffff;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */