@font-face {
    font-family: "robotoregular";
    src: url("../polices/roboro/roboto-regular-webfont.eot");
    src: url("../polices/roboto/roboto-regular-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("../polices/roboto/roboto-regular-webfont.woff2") format("woff2"),
      url("../polices/roboto/roboto-regular-webfont.woff") format("woff"),
      url("../polices/roboto/roboto-regular-webfont.svg#robotoregular")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
      font-family: "robotobold";
      src: url("../polices/Roboto/roboto-bold-webfont.eot");
      src: url("../polices/Roboto/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"),
           url("../polices/Roboto/roboto-bold-webfont.woff2") format("woff2"),
           url("../polices/') format('woff"),
           url("../polices/') format('svg");
      font-weight: normal;
      font-style: normal;
  }
  
  body {
    font-size: 16px;
    font-family: "robotoregular", serif, sans-serif;
    // color: #181818;
  }
  H1 {
      font-size: 1.2rem;
      font-family: "robotobold", serif, sans-serif;
  }
  
  H2 {
      font-size: 1.2rem;
      font-family: "robotobold", serif, sans-serif;
      color: #000000;
  }
  // }
  // H3 {
  // 	font-size: 1.2rem;
  // }
  
  .bloc-page {
    width: 375px;
  }

  .logo {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__img {
      height: 25px;
    }
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #eaeaea;
    margin: auto;
    &__map {
      margin: 15px;
    }
    &__city {
      border: none;
      background: none;
    }
  }